@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Neutral-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Spartan',
    sans-serif;
   
}
h1, p{
     padding: 5px;
     margin: 0;
}

h5, .card p{
    margin: 2px;
    padding: 0;
    font-size: 15px;
}

h1{
    font-weight: 700;
    font-size: 38px;
    color: var(--Very-Dark-Magenta);
   
}
.name p{
    font-size: 12px;
    color: grey;
    line-height: 20px;
    font-weight: 400;
}

.card p{
    line-height: 22px;
}

.container{
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    align-items: center;
    padding:60px;
    gap: 25px;
    background-image: url(/images/bg-pattern-top-desktop.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
   
}
.info {
    width: 34%;
  
    
}
.rating-cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 22px;
    width: 38%;
}
.rate-card{
    display: flex;
    width: 75%;
    padding: 15px 8px 15px 25px;
    background-color:var(--Light-Grayish-Magenta);
    background-repeat: repeat-x;
    font-size: 10px;
    align-items: center;
    gap: 20px;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    border-radius: 5px;

}

.center{
    display: flex;
    justify-content: center;
}

.left{
     display: flex;
    justify-content: flex-end;
}

.middle{
    margin-top: 30px;
}

.bottom{
   margin-top: 60px;
}

.profile-cards{
    display: flex;
   padding: 0 140px;
    gap: 30px;
    

}

.card1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;
     
}
.card2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;

}
.card3{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;

}

.card-head{
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px 20px;
}

.card-body{
    padding: 10px 20px;
    color: var(--Light-Grayish-Magenta)
}

 .avatar img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
        border-radius: 50%;
        
} 
