@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: var(--Dark-blue);
}

p {
    color: grey;
    font-weight: 500;
    padding-bottom: 8px;
    line-height: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/order-summary-component-main/images/pattern-background-desktop.svg);
    height: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: var(--Pale-blue)
}

.card {
    flex-basis: 350px;
    background-color: var(--white);
    border-radius: 12px;
}

.img-box {
    width: 100%;
}

.img-box img {
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.order-summary {
    padding: 30px;
    text-align: center;
    font-size: 14px;
}

.annual-plan {
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--Very-pale-blue);
    border-radius: 11px;
    padding: 16px;
    border-radius: 8px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.avatar img {
    width: 40px;
    height: 40px;
}

.change {
    margin-left: auto;
}

.info {
    gap: 2px;
    font-size: 14px;
    color: grey;
}

.info-heading {
    color: var(--Dark-blue);
    font-weight: 900;
}

.buttons {
    padding: 22px 0 0 0;
    gap: 14px;
}

.proceed-btn,
.cncl-btn {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: var(--Bright-blue);
    color: var(--white)
}

.proceed-btn {
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.cncl-btn {
    background: transparent;
    color: grey;
    font-weight: 500;
}

.proceed-btn:hover {
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

.change a:hover {
    color: var(--Desaturated-blue);
    cursor: pointer;
    text-decoration: none;
}

.change a:hover {
    text-decoration: none;
}

.cncl-btn:hover {
    color: var(--Dark-blue);
    font-weight: 700;
    cursor: pointer;
}

footer {
    padding: 10px;
    background-color: var(--Pale-blue)
}