@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --white:hsl(0, 0%, 100%);
    --light-gray:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:var(--light-gray)

    
}
h3, p{
    margin: 0;
    padding: 6px 10px;
    
}

.heading{
    padding-top: 8px;
    color: var(--dark-blue);
}
.para{
    padding-bottom: 14px;
    color: var(--grayish-blue);
    font-size: 13px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    flex-basis: 250px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.img-box{
    padding-top: 2px;
    width: 240px;
     border-radius: .8rem;
     overflow: hidden;
}

img{
    width: 100%;
    object-fit: cover;
}

footer{
    padding: 20px;
    font-size: 10px;
    background-color: var(--light-gray);
    text-align: center;
}

footer a{
    text-decoration: none;
}